:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
  --input-color: #ccc;
  --table-th-color: #cecece;
  --table-td-color: #e4e4e7;
}

/* 본문 스타일 */
/* 메인 content */
.content {
  margin: 15px;
  overflow-y: auto; /* 스크롤 가능 */
  padding: 20px;
  padding-top: calc(var(--header-height) + 15px);
  height: 100%;
  font-family: "Pretendard", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* 검색 필터 영역(select, input) */
.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 10px;
}

/*empEval용*/
#filter-bar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 16px;
  flex-direction: column;
}

#filter-bar #test button,
#filter-bar #test table .filter-bar #test button,
.filter-bar #test table {
  margin-bottom: 10px;
}

.filter-bar input[type="text"],
#filter-bar input[type="text"],
.filter-bar input[type="password"],
.filter-bar input[type="month"],
.filter-bar input[type="date"],
.filter-bar input[type="time"],
.filter-bar input[type="number"],
.filter-bar input[type="checkbox"],
.filter-bar input[type="file"] #filter-bar fieldset,
.filter-bar fieldset,
#filter-bar select,
.filter-bar select,
.filter-bar textarea {
  outline: none;
  padding: 6px 8px;
  border: 1px solid var(--input-color);
  border-radius: 15px;
}

#filter-bar input[type="radio"],
#filter-bar input[type="checkbox"],
.data-table td input[type="checkbox"],
.filter-bar input[type="radio"],
.filter-bar input[type="checkbox"] {
  accent-color: var(--color); /* 체크박스 색상 */
}
/* submit, a, button 스타일 */

#filter-bar input[type="submit"],
#filter-bar a,
#filter-bar button,
.filter-bar input[type="submit"],
.filter-bar a,
.filter-bar button {
  text-decoration: none;
  background-color: #ffffff;
  color: #516b38;
  border: var(--color) solid 1px;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

/*data-table input file style*/
input[type="file"]::file-selector-button {
  border-style: none;
  text-decoration: none;
  background-color: #90c67c;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  width: 100%;
  font-size: 9.6px;
  font-weight: bold;
}

/* 각종 버튼들 커서 올렸을 경우 색상 변경 */
input[type="file"]::file-selector-button:hover,
.filter-bar input[type="submit"]:hover,
.filter-bar a:hover,
.filter-bar button:hover {
  background-color: var(--color);
  color: #ffffff;
}

/*modify page input file style*/
.modal input[type="file"]::file-selector-button {
  border-style: none;
  text-decoration: none;
  background-color: #90c67c;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.modal input[type="file"] {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
}

.img-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* 각종 버튼들 커서 올렸을 경우 색상 변경 */
.modal input[type="file"]::file-selector-button:hover {
  background-color: var(--color);
  color: #ffffff;
}

/* a 태그 상세 크기 조정*/
.filter-bar a {
  padding: 8px 12px;
  font-size: 16px;
}

.btn-logout a {
  text-decoration: none;
  color: white;
  background-color: #90c67c;
  padding: 6px 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s;
  box-shadow: #33333362 0 5px 5px -5px;
  width: 80px;
}

/* 버튼 disabled 일 때 */
.filter-bar button:disabled {
  text-decoration: none;
  background-color: #ffffff;
  color: darkgray;
  border: lightgray solid 1px;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: default;
  font-weight: bold;
}

/* 테이블 */
table.data-table {
  width: 100%;
  font-size: 14px;
  border: none;
  border-collapse: separate;
  border-spacing: 3px 5px;
  margin-bottom: 10px;
  display: table;
  table-layout: fixed; /*각 셀의 너비를 자동 고정, 내용에 상관없이 동일한 너비로 유지*/
}

.data-table th,
.data-table td {
  padding: 3px 10px;
  border-radius: 25px;
  text-align: center;
}

/* 테이블 컬럼명 */
.data-table th {
  background-color: var(--table-th-color);
  font-weight: bold;
  box-shadow: #33333362 0 5px 5px -5px;
}

/* 테이블 데이터 */
.data-table td {
  background-color: var(--table-td-color);
  box-shadow: #33333362 0 5px 5px -5px;
}

/* 테이블 내 input */
.data-table td input[type="text"],
.data-table td input[type="date"],
.data-table td input[type="number"],
.data-table td select,
.data-table td input[list="List1"] {
  outline: none;
  text-align: center;
  border-style: none;
  background-color: var(--table-td-color);
  width: 100%;
}

/* 데이터 리스트 */
input[list^="List"] {
  padding: 5px 10px;
  text-align: center;
  height: fit-content;
  border-style: none;
  background-color: var(--table-td-color);
}

/* 테이블 내 버튼*/
/*.innerbtn{
  text-decoration: none;
  background-color: var(--table-td-color);
  border: none;
  color:var(--color);
  padding: 6px 10px;
  cursor: pointer;
  font-weight: bold;
}*/

/* 테이블 내 a태그 style*/
/* 조회, 승인 */
.btnO {
  text-decoration: none;
  background-color: var(--table-td-color);
  border: none;
  color: var(--color);
  padding: 1px 1px;
  cursor: pointer;
  font-weight: bold;
}

/* 삭제, 반려 */
.btnX {
  text-decoration: none;
  background-color: var(--table-td-color);
  border: none;
  color: indianred;
  padding: 1px 1px;
  cursor: pointer;
  font-weight: bold;
}

/* a태그 비활성화 */
.disable {
  text-decoration: none;
  background-color: var(--table-td-color);
  border: none;
  color: var(--table-th-color);
  padding: 1px 1px;
  font-weight: bold;
  pointer-events: none; /* 클릭 못하게 함 */
}

/* 테이블 내 a태그에 커서 올렸을 경우 */
.btnO:hover {
  color: green;
}

.btnX:hover {
  color: orangered;
}

/* 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
  padding: 10px;
}

/* 페이징 기본 style */
.pagination li a {
  display: block;
  padding: 5px 14px;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  text-decoration: none;
  transition: 0.2s;
  background-color: white;
}

/* 페이징 내 a태그에 커서 올렸을 경우 */
.pagination li a:hover {
  background-color: #eee !important;
  color: #90c67c !important;
}

/* 페이징 클릭했을 때 고정되는 색 */
.pagination .page-link.active,
.pagination li.active a {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
  border-color: green !important;
}

/* previous, next 비활성화 시 style */
.pagination .disabled a {
  pointer-events: none !important;
  opacity: 0.6 !important;
  background-color: white !important;
  color: #90c67c !important;
  border: 1px solid #90c67c;
}

/*box*/
:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
}

.total {
  background-color: #e1eebc;
  color: #2f5249;
  border-radius: 10px;
  padding: 10px 20px 5px 20px;
  margin: 10px;
  width: fit-content;
}

.greenBox {
  background-color: #e1eebc;
  color: #2f5249;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
}
