body{
  background-color: #111;
  font-family: Signika Negative, Asap, sans-serif;
  overflow:hidden;
}
.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(https://www.clipartqueen.com/image-files/autumn-leaf-green.png);
  background-size: 100% 100%;
  z-index: -100;  
}
html, body, #container {width:100%; height:100%; }
#container {
  position:absolute;
   z-index: -100; 
}
#logo{ left:50%; top:50%; position:absolute; border-radius:10px; }



#DiacoDesignLink,#pens{
  color: #fff;
}

:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body {
  background-color: #67ae6e21;
  height: 100%;
  padding: 50px 150px 150px 150px;;
  display: flex;
  justify-content: center;
}
.logo-verde{
	text-align: center;
	margin-bottom: 100px;
}
#find-card {
  border: none;
  border-radius: 5px;
  width: 450px;
  text-align: center;
  /* margin-bottom: 10px; */
  color: #67ae6e;
  padding: 45px;
  margin: auto;
  background-color: #67ae6e33;
}
h1{
	margin-bottom: 20px;
}
.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-direction: column;
}
.filter-bar input[type="text"]{
	outline: none;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
}
/* button 스타일 */
/*조회버튼*/
.filter-bar #btn{
  text-decoration: none;
  font-weight: bold;
    font-size: 17px;
  background-color: #67ae6e;
  color: white;
  border: #67ae6e solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background 0.2s;
  box-shadow: #33333362 0 5px 5px -5px;
}
hr{
	width: 100%;
	border: #67ae6e88 dashed 1px;
	margin-top: 10px;
	margin-bottom: 20px;
}
/*비밀번호재설정 버튼*/
.btn #btn1{
	text-decoration: none;
	  background-color: #ffffff;
	  color: #516b38;
	  border: #F2F0F0 solid 1px;
	  padding: 4px 12px;
	  border-radius: 4px;
	  cursor: pointer;
	  font-weight: bold;
	  width: 48%;
	  margin-bottom: 5px;
	  transition: background 0.2s;
	  box-shadow: #33333362 0 5px 5px -5px;
}
/*로그인 버튼*/
.btn #btn2 {
	border-style: none;
	  text-decoration: none;
	  font-weight: bold;
	  color: white;
	  background-color: #90c67c;
	  border: #90c67c solid 1px;
	  padding: 4px 12px;
	  width: 48%;
	  border-radius: 5px;
	  text-decoration: none;
	  transition: background 0.2s;
	  
	  box-shadow: #33333362 0 5px 5px -5px;
	  margin-bottom: 10px;
}
/* a 태그 상세 크기 조정*/
.filter-bar a {
  padding: 5px 12px;
  font-size: 14px;
}
/* 각종 버튼들 커서 올렸을 경우 색상 변경 */

.filter-bar #btn:hover{
	background-color: #328e6e;
    border: #328e6e solid 1px;
    color: #ffffff;
}

.btn #btn1:hover {
	  background-color: #F2F0F0;
	  border: #F2F0F0 solid 1px;
	  color: #516b38;
}
.btn #btn2:hover{
	background-color: #67ae6e;
	border: #67ae6e solid 1px;
	  color: #ffffff;
}

