:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body {
  background-color: #67ae6e21;
  height: 100%;
  padding: 250px;
  display: flex;
  justify-content: center;
}
#find-card {
  border: #90c67c solid 1px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  /* margin-bottom: 10px; */
  color: #67ae6e;
  padding: 20px;
  margin: auto;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-direction: column;
}
.filter-bar input[type="text"],
.filter-bar input[type="password"] {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* button 스타일 */
.filter-bar button {
  border-style: none;
  text-decoration: none;
  color: white;
  background-color: #90c67c;
  padding: 4px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s;
  width: 180px;
}
.filter-bar button[type="button"] {
  text-decoration: none;
  background-color: #ffffff;
  color: #516b38;
  border: #67ae6e solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
}
/* a 태그 상세 크기 조정*/
.filter-bar a {
  padding: 5px 12px;
  font-size: 14px;
}
/* 각종 버튼들 커서 올렸을 경우 색상 변경 */

.filter-bar button:hover {
  background-color: #328e6e;
}
.data-table {
  border-style: none;
  color: #516b38;
}
