.box{

	background-color: #F5F5F5; /*E1EEBC*/
	padding: 20px 30px 10px 30px;
	width: calc(100vp - var(--side-width));
	border-radius: 15px;
	gap: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0;
	color: #424242;
	box-shadow: #33333362 0 5px 5px -5px;
}