body{
  background-color: #111;
  font-family: Signika Negative, Asap, sans-serif;
  overflow:hidden;
}
.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(https://www.clipartqueen.com/image-files/autumn-leaf-green.png);
  background-size: 100% 100%;
  z-index: -100;  
}
html, body, #container {width:100%; height:100%; }
#container {
  position:absolute;
   z-index: -100; 
}
#logo{ left:50%; top:50%; position:absolute; border-radius:10px; }



#DiacoDesignLink,#pens{
  color: #fff;
}

:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body {
  background-color: #67ae6e21;
  height: 100%;
  padding: 50px 150px 150px 150px;
  display: flex;
  justify-content: center;
}
.logo-verde{
	text-align: center;
	margin-bottom: 150px;
}
#login-card {
  border:none;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  /* margin-bottom: 10px; */
  color: #67ae6e;
  padding: 20px;
  margin: auto;
  background-color: #67ae6e33;

}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-direction: column;
}
.filter-bar input[type="text"],
.filter-bar input[type="password"],
.filter-bar input[type="number"] {
	outline: none;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  width: 100%;

  
}
/* submit, a, button 스타일 */
.filter-bar button[type="submit"] {
  border-style: none;
  text-decoration: none;
  color: white;
  background-color: #90c67c;
  padding: 4px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.2s;
  width: 100%;
  box-shadow: #33333362 0 5px 5px -5px;
}

/* a 태그 상세 크기 조정*/
.filter-bar a {
  padding: 5px 12px;
  font-size: 14px;
  box-shadow: #33333362 0 5px 5px -5px;
}
.filter-bar .btn{
	display: flex;
		flex-direction: row;
		gap: 7px;
		justify-content: center;
		width: 100%; 
		
}
.filter-bar .btn button[type="button"] {
	flex: 1;
	text-decoration: none;
	  background-color: #ffffff;
	  color: #516b38;
	  border: none;
	  padding: 4px 9px;
	  border-radius: 5px;
	  cursor: pointer;
	  font-weight: bold;
	  box-shadow: #33333362 0 5px 5px -5px;
}

/* 각종 버튼들 커서 올렸을 경우 색상 변경 */
.filter-bar a:hover,
.filter-bar button[type="button"]:hover {
  background-color: #67ae6e;
  color: #ffffff;
}
.filter-bar button[type="submit"]:hover {
  background-color: #328e6e;
}
