:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
}  
form{
	display: flex;
	  flex-direction: column;   /* 세로 방향 정렬 */
	  overflow-x: hidden; /* 가로 스크롤 제거 */
  }
   
.box,
form .box {
	background-color: #F5F5F5;
	padding: 25px 30px 5px 30px;
	border-radius: 10px;
	width: calc(95vw - var(--side-width));
	font-size: large;
	justify-content: flex-start;
} 

form button{
	justify-content: flex-start;
}

.box table{
	border-radius: 10px;
}

.box td{
	color: #938E8E;
	border-radius: 10px;
	width: fit-content;
	height: 50px;
	padding-right: 100px;

	
}
.box th {
	color: #938E8E;
	border-radius: 10px;
	width: 240px;

}
.box select,
.box input[type="text"],
.box input[type="date"] {
	outline: none;
	border-style: none;

}
.box input[readonly="readonly"]{
	border-style: none;
	background-color:#F5F5F5;
}

