:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
}
* {
  font-family: "Pretendard", sans-serif;
}

.box{
	display: flex;
	background-color: #E1EEBC;
	border-radius: 10px;
	padding: 20px;
	gap: 5px;
	font-size: large;
	margin-bottom: 10px;
}

.box2{
	display: flex;
	background-color: #F5F5F5;
	border-radius: 10px;
	padding: 30px;
	gap: 10px;
	font-size: large;
	flex-direction: column;
	margin-bottom: 10px;
}