:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
} 
h4, p, span {
	color: #424242;
	
}
h4 {
	margin-bottom: 20px;
	font-weight: bolder;
}

#date-timer {
	display: flex;
	flex-direction: row;
	font-size: large;

}

#date-timer #ymd,
#date-timer #timer {
	font-weight: bold;
}

.filter-bar {
	display: flex;
	flex-direction: row;

}

.filter-bar p, 
.filter-bar span{
	font-size: large;
	margin-bottom: 0;
}
.box {
	display: flex;
	flex-direction: row;
	font-size: medium;
	gap: 10px;
	
	
}

.box1{
	background-color: #E1EEBC; /*E1EEBC*/
	padding: 30px 30px 10px 30px;
	width: calc(100vp - var(--side-width));
	border-radius: 10px;
	gap: 5px;
	margin-bottom: 10px;
	margin-right: 0;
	box-shadow: #90C67C62 0 5px 5px -5px;
	
}

.box2{
	background-color: #F5F5F5;
	padding: 30px 30px 10px 30px;
	width: calc(100% - var(--side-width));
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: #33333362 0 5px 5px -5px;
}

.logout .btn-logout {
  color: white;
  background-color: #90c67c;
  padding: 6px 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s;
  box-shadow: #33333362 0 5px 5px -5px;
}
.logout .btn-logout:hover{
  background-color: #328e6e;
}

.box table{
	border-radius: 10px;
	
}
.box td{
	color: #424242;
	border-radius: 10px;
	height: 60px;
	
}
.box th {
	color: #938E8E;
	border-radius: 10px;
	width: 150px;
}
.box input[type="text"],
.box input[type="date"] {
	outline: none;
	border-style: none;
}
.box input[readonly="readonly"]{
	border-style: none;
	background-color:#F5F5F5;
}