:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
  --color: #67ae6e;
}  
form {
	display: flex;
	  flex-direction: column;   /* 세로 방향 정렬 */

  }
   

form .box {
	background-color: #F5F5F5;
	padding: 30px;
	border-radius: 10px;
	width: calc(95vw - var(--side-width));
	font-size: large;
	justify-content: flex-start;
} 
form button {
	justify-content: flex-start;
}

form .btn {
  justify-content: flex-start;
  display: inline-block;
  padding: 8px 14px;
  font-size: 14px;       /* 두 버튼 폰트 크기 통일 */
  line-height: 1.2;
  border-radius: 6px;
  text-decoration: none; /* a 기본 밑줄 제거 */
}

.box table {
	border-radius: 10px;
	
}
.box td{
	color: #938E8E;
	border-radius: 10px;
	width: 300px;
	height: 60px;
	
}
.box th {
	color: #938E8E;
	border-radius: 10px;
	width: 250px;
}
.box input[type="text"],
.box input[type="date"] {
	border-style: none;
}
.box input[readonly="readonly"] {
	border-style: none;
	background-color:#F5F5F5;
}