:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body {
  background-color: #67ae6e21;
  height: 100%;
  padding: 250px;
  display: flex;
  justify-content: center;
}
#register-card {
  border: #90c67c solid 1px;
  border-radius: 5px;
  width: 380px;
  margin-bottom: 10px;
  color: #67ae6e;
  padding: 20px;
  margin: auto;
  gap: 15px;
  display: flex;
  text-align: left;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-direction: column;
}
.filter-bar input[type="text"],
.filter-bar input[type="password"],
.filter-bar input[type="number"] {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #90c67c;
  border-radius: 4px;
}
/* submit, a, button 스타일 */
button,
.filter-bar button[type="submit"] {
  border-style: none;
  color: white;
  background-color: #90c67c;
  padding: 4px 12px;
  border-radius: 4px;
  transition: background 0.2s;
  width: fit-content;
  box-shadow: #33333362 0 5px 5px -5px;
}

.filter-bar button[type="button"] {
  text-decoration: none;
  background-color: #ffffff;
  color: #516b38;
  border: #67ae6e solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width:95px;

}
/* 각종 버튼들 커서 올렸을 경우 색상 변경 */

.filter-bar button[type="button"]:hover {
  background-color: #67ae6e;
  color: #ffffff;
}
.filter-bar button[type="submit"]:hover {
  background-color: #328e6e;
}
.emp-check{
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
}
