body{
  background-color: #111;
  font-family: Signika Negative, Asap, sans-serif;
  overflow:hidden;
}
.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(https://www.clipartqueen.com/image-files/autumn-leaf-green.png);
  background-size: 100% 100%;
  z-index: -100;  
}
html, body, #container {width:100%; height:100%; }
#container {
  position:absolute;
   z-index: -100; 
}
#logo{ left:50%; top:50%; position:absolute; border-radius:10px; }



#DiacoDesignLink,#pens{
  color: #fff;
}


:root {
  --side-width: 250px; /* 사이드 메뉴 가로 길이*/
  --header-height: 70px; /* 헤더 높이*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body {
  background-color: #67ae6e21;
  height: 100%;
  padding: 50px 100px 100px 100px;
  display: flex;
  justify-content: center;
}
.logo-verde{
	text-align: center;
	margin-bottom: 50px;
}
#register-card {
  border: none;
  border-radius: 5px;
  width: 450px;
  margin-bottom: 10px;
  color: #67ae6e;
  padding: 45px;
  margin: auto;
  gap: 15px;
  display: flex;
  text-align: left;
  background-color: #67ae6e33;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-direction: column;
}

.id-area,
.pwd-area,
.no-area{
	width: 100%;
	margin-bottom: 10px;
	
}
/* 사번, 아이디, 비밀번호, 비밀번호 확인 입력창*/
.filter-bar .id-area input[type="text"],
.filter-bar .pwd-area input[type="password"],
.filter-bar input[type="number"] {
	outline: none;
  width: 100%;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  
}

/*사번확인, 중복확인 버튼*/
#idCheck {
  text-decoration: none;
  background-color: #ffffff;
  color: #516b38;
  border: #67ae6e solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width:95px;
}

/* 재설정 버튼 기본 */
#resetPwd{
	border-style: none;
	 color: white;
	 background-color: #67AE6E;
	 padding: 6px 12px;
	 border-radius: 4px;
	 transition: background 0.2s;
	 width: fit-content;
	 box-shadow: #33333362 0 5px 5px -5px;
	 cursor: pointer;
	 font-weight: bold;
	   font-size: 17px;
}

/* 재설정 버튼 커서 올렸을 경우 */
#resetPwd:hover:not(:disabled) {
  background-color: #328e6e;
}

/* 재설정 버튼 비활성화 */
#resetPwd:disabled {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}

/*좌측 가로 정렬*/
.row{
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
}
#btn2 {
	border-style: none;
	  text-decoration: none;
	  color: white;
	  background-color: #90c67c;
	  border: #90c67c solid 1px;
	  padding: 4px 12px;
	  width: 48%;
	  border-radius: 5px;
	  text-decoration: none;
	  transition: background 0.2s;
	  
	  box-shadow: #33333362 0 5px 5px -5px;
	  margin-bottom: 10px;
}
#btn2:hover{
	background-color: #67ae6e;
	border: #67ae6e solid 1px;
	  color: #ffffff;
}