table {
	table-layout: fixed; /* 고정 레이아웃 */
	width: 100%; /* 전체 넓이 맞춤 */
	border-collapse: separate;
}

table th, 
table td {
	width: 130px; /* 원하는 고정 크기 */
	white-space: nowrap; /* 줄바꿈 방지 */
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}

table input, 
table select {
	width: 100%; /* 셀 넓이에 맞춤 */
	box-sizing: border-box; /* padding 포함 크기 계산 */
}

td {
	position: relative;
	box-sizing: border-box;
}

.red {
	border-color: red;
	border-width: 2px;
}

